       
        .galCont{
            padding: 15px;
            margin-bottom: 130px;
        }

        .gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
            font-family: 'Raleway', sans-serif;

        }
        .gallery img {
            max-width: 350px; /* Adjust the width of the images */
             border-radius: 5px;
            height: 280px;
            margin: 10px; /* Adjust spacing between images */
            cursor: pointer;
            position: relative;
            transition: transform 0.2s ease; /* Hover transition effect */
        }
        .gallery img:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        }
        .overlayG {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 999;
            justify-content: center;
            align-items: center;
        }
        .overlayG.active {
            display: flex;
            z-index: 1500;
        }
        .modal-content {
            position: relative;
            max-width: 90%;
            max-height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .close-btn {
            position: absolute;
            top: -20px; /* Adjust the distance from the top of the image */
            right: -10px; /* Adjust the distance from the right of the image */
            transform: translate(50%, -50%);
            color: #fff;
            font-size: 40px;
            cursor: pointer;
            background-color: transparent; /* Transparent background */
            padding: 5px 10px;
            border-radius: 50%;
            opacity: 0.5; /* Set default opacity */
            transition: opacity 0.3s ease; /* Add transition for smooth effect */
        }

         .close-btn:hover {
            opacity: 1;
        }


        .modal-content img {
                width: 63em;
                height: 38em;
        }
        .image-name {
            color: #fff;
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
            font-family: 'Raleway', sans-serif;

        }
        .nav-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            opacity: 0.5; /* Set default opacity */
            transition: opacity 0.3s ease; /* Add transition for smooth effect */
        }

        .nav-btn:hover {
            opacity: 1;
        }


        .prev-btn {
            left: -50px;
        }
        .next-btn {
            right: -50px;
        }

        @media screen and (max-width: 768px) {
            .gallery {
                flex-direction: column;
                align-items: center;
            }
            .gallery img {
                margin-bottom: 10px;
            }

            .modal-content img {
            width: 400px;
            height: 350px;
            }

                    
        .prev-btn {
            left: -10px;
        }
        .next-btn {
            right: -10px;
        }
    }